* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

body {
    background-color: #808080;
}

a:hover{
    color: #f00;
}

header{
    background-color: rgba(245, 245, 245, 0.671);
    text-align: center;
}

nav{
    position: sticky;
    font-family: "Caveat", cursive;
}

ul, li { 
    display: inline-flex;
    padding-right: 0.5rem;

}

#logo {
    width: 18.0rem;
    border-radius: 3rem;
    background-color: white;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

div {
    padding: 1rem;
}

footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


iframe {
    width: 15rem;
    height: 15rem;
}