#rodap {
    background-color: #384358;
    color: aliceblue;
    padding: 1rem;

    display: flex;
    flex-flow: row wrap;

    align-items: center;
    justify-content: space-around;

}

.toe {
    width: 15rem;
    height: 15rem;

    align-content: center;
}

.toe p{
    display: flex;
}

.toe p img{
    padding-right: 0.5rem;
}

.ico {
    width: 1rem;
}


#socialIcos {
    display: flex;
    gap: 3rem;
} 

#facebook, #instagram, #whatsapp {
    width: 3rem;
}