#formu {
  background-color: aliceblue;
  padding: 1rem;
  margin: 1rem;

  text-align: center;
  /* justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center; */
}

form,
label,
input,
select {
  margin: 1rem;
}

input,
select {
  padding: 1rem;
}

#messageInput {
  width: 50%;
  height: 10rem;
}

form button {
  padding: 1rem;
  background-color: rgb(115, 15, 15);
  font-weight: 600;
  color: aliceblue;
  border: none;
}

form button:hover {
  background-color: aliceblue;
  color: rgb(115, 15, 15);
  transition: 1s;
  border-style: double;
  border-color: #000;
  border-radius: 0.5em;
}
