#formu {
  background-color: rgba(212, 212, 212, 0.927);
  padding: 1rem;
  margin: 1rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  text-align: center;
  /* justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center; */
}

#formDescription {
  width: 50%;
}

form,
label {
  margin: 1rem;
}

input,
select {
  width: 10rem;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

label {
  position: relative;
}

#messageInput {
  width: 50%;
  height: 10rem;
}

form button {
  padding: 1rem;
  background-color: rgb(115, 15, 15);
  font-weight: 600;
  color: aliceblue;
  border: none;
}

form button:hover {
  background-color: aliceblue;
  color: rgb(115, 15, 15);
  transition: 1s;
  border-style: double;
  border-color: #000;
  border-radius: 0.5em;
}
