header{
    padding: 0.8rem;
    background-color: rgba(245, 245, 245, 0.671);
    /* text-align: center; */
}

#nvb {
    background-color: aliceblue;
    font-family: "Caveat", cursive;
    
    position: sticky;
    top: 10rem;
    z-index: 100;
 
}

ul, li { 
    display: inline-flex;
}

li {
    padding-right: 2rem;
}

#logo {
    width: 18.0rem;
    border-radius: 3rem;
    background-color: white;
}

a {
    color: rgb(115, 15, 15);
}