header {
  padding-block: 0.8rem;
  background-color: grey;
}

nav {
  background: transparent;
  backdrop-filter: blur(10px);
  
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 6vh;
  width: 100%;
  text-align: right;
  align-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav ul {
  display: inline-flex;
  list-style: none;
}

nav ul li {
  padding-inline: 0.8rem;
}

nav a {
  color: rgb(115, 15, 15);
}

nav a:hover {
  color: #b51a2b;
  font-weight: 650;
  text-decoration: underline;
  transition: 0.5s;
}

#logo {
  width: 18rem;
  border-radius: 3rem;
  background-color: white;

  margin-left: 4rem;
  margin-top: 5vh;
  position: relative;
  z-index: 1;
}
