header {
  padding-block: 0.8rem;
  background-color: grey;
}

nav {
  background-color: grey;
  font-family: "Caveat", cursive;
  height: 6vh;
  width: 100%;
  text-align: right;
  align-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav ul {
  display: inline-flex;
  list-style: none;
}

nav ul li {
  padding-right: 2rem;
}

nav ul li:hover {
  text-decoration: underline;
  color: black;
  transition: 3s;
}

#logo {
  width: 18rem;
  border-radius: 3rem;
  background-color: white;

  margin-left: 4rem;
  margin-top: 5vh;
  position: relative;
  z-index: 1;
}
