.descricaoArea {
    background-color: #b4d0ff;
    text-align: justify;
    display: flex;
    padding: 0 1rem;
}

table {
    border-spacing: 0rem 1rem;
    border-collapse: separate;
    width: 10rem;
    margin-left: 1.0rem;
    font-size: 0.7rem;
}

.observacoes {
    background-color: #ffa586;
    text-align: justify;
    padding-inline: 1rem;
    font-size: 0.66rem;
}
