#sobreNos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50rem, 100%), 1fr));
/*   
  justify-content: center; */
  justify-items: center;
}

#textoAbout {
  padding: 1rem  2rem;
}

#textoAbout p {
  font-size: 1rem;
  text-align: right;
  margin-inline: 1.6rem;
}

#textoAbout p span {
  font-weight: 900;
  font-style: italic;
}

#imageAbout {
  /* height: 18rem; */
  width: 23.8rem;
  border-radius: 0.8rem;
  margin: 1rem;
}
