#suitesList{
    display: flex;
    flex-flow: row wrap;
    height: 35rem;
    row-gap: 1.6rem;

    /* overflow: hidden; */
    /* align-content: space-around; */
    justify-content: space-evenly;    
}



.suiteCard {
    border-radius: 0.8rem;
    position: relative;
    z-index: 0;
    height: 100%;
    max-height: 16rem;
    /* overflow: hidden; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 1.5s;
}

.suiteCard img{
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    transition: 1s;
    /* object-fit: cover; */
    /* filter: grayscale(100%); */
}

.suiteCard:not(:hover) {
    width: 40%;
}
.suiteCard:hover{
    width: 55%;
    /* filter: grayscale(0); */
}



.description {
    position: absolute;
    bottom: 0rem;
    padding: 0rem 0.1rem;
    transition: 0.3s;
    display: flex;
    flex-flow: column wrap;
}

.description h3{
    font-size: 1.2rem;
    margin: 0;
    color: rgba(115, 15, 15);
}

.description p {
    font-size: 1rem;
    margin: 0;
    opacity: 0;
    color: rgba(115, 15, 15);
    font-weight: 600;
}

button:hover .description p{
    transition-delay: 0.6ms;
    opacity: 1;
}