#suitesList{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}

#cardSuites {
    width: 85%;

    border-radius: 0.8rem;
    display: flex;
    gap: 2rem;

    align-content: center;
}

.figureCard {
    width: 100%;
    border-radius: 0.8rem;
    padding: 1rem;
}